<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#fcf9f1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/css/bootstrap.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
  {%- feed_meta -%}
  <script defer src="https://analytics.signalorange.tech/script.js" data-website-id="dd5bd35c-3356-4468-bc81-e5020da09156"></script>
</head>
