body {
     background-color: #fcf9f1;
     background: #fcf9f1;
    --f9f3e2;
    margin-top: 1rem;
    color:#444409;
}

@font-face { font-family: HelveticaNeue-Light; src: url('font/HelveticaNeue-Light.woff'); } /*nav et date*/
@font-face { font-family: HelveticaNeue-Thin; src: url('font/HelveticaNeue-Thin.woff'); } /*h et p*/
@font-face { font-family: HelveticaNeue-Regular; src: url('font/HelveticaNeue-Regular.woff'); } 


#content {
    float: left;
}

#sidebar {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding-left: 1rem;
    background: #fcf9f1;
    border-left:#444409 1px solid;
}

.sidebar-container {
    position: fixed;
    top: 1rem;
    right: 0;
    z-index: 999;
    background: #fcf9f1;
    color: #444409;
    transition: all 0.3s;
}

#toggle-close {
    position: relative;
    float: right;
    padding-bottom: 1rem;
}

.tags {
    padding-top: 1rem;
}

.tags ul {
    padding: 0;
}
.tag {
    padding-left: 1rem;
}

a {
    color:#444409;
}

a:hover {
    color:#61610d;
    text-decoration: none;
}

ul {
    padding: 0;
    list-style-type: none;
}

.image {
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.page-heading{
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.image_big {
    padding-left: 4rem;
    padding-bottom: 2rem;
}

.words {
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.words h3 {
    padding-bottom: 1rem;
}
.words p {
    padding-left: 4rem;
}

.related {
    padding-left: 1rem;
    padding-bottom: 2rem;
}

.related h3 {
    padding-bottom: 1rem;
}

.container-offset {
    left: -4rem;
}

.btn-outline-success a:hover {
    color: white;
}

.pictorem_button {
    margin-left: 4rem;
}

.row {
    margin-right: 0px !important;
}

.chevron {
    position: relative;
    top: -3px;
}