---
layout: grid
---
{{ content }}
{% for post in site.posts reversed %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate == page.date %}
    <div class="col">
      <a href="{{ post.url }}" >
        <img class="img-fluid image" src="{{ site.url }}/assets/photos/thumbnails/{{ post.image }}.jpg"/>
      </a>
    </div>
  {% endif %}
{% endfor %}