<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
    <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <body>
    <div class="">
        <!-- Sidebar -->
        <!-- Page Content -->
        <div id="content container">
            <main class="" aria-label="Content">
                  {{ content }}
            </main>
        </div>
        <div class="col-md-2 col-sm-4">
           <div class="sidebar-container">
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-left chevron" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                      </svg>
                    </button>
              <nav id="sidebar" class="navbar-expand-sm"> 
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                  <ul>
                      <li>
                        <a href="{{ site.url }}">
                          <h3>Jacob Roy</h3>
                          <h5>.quebec</h5>
                        </a>
                      </li>
                      <li class="tags">
                        <a href="{{ site.url }}"><h6>Photos</h6></a>
                        <ul>
                            <li class="tag"><a href="{{ site.url }}/collections/2024">2024</a></li>
                            <li class="tag"><a href="{{ site.url }}/collections/2023">2023</a></li>
                            <li class="tag"><a href="{{ site.url }}/collections/archives">archives</a></li>
                            <li class="tag"><a href="{{ site.url }}/collections/quebec">québec</a></li>
                            <li class="tag"><a href="{{ site.url }}/collections/voyages">voyages</a></li>
                            <li class="tag"><a href="{{ site.url }}/collections/noirblanc">noir&blanc</a></li>
                            <li class="tag"><a href="{{ site.url }}/collections/paysages">paysages</a></li>
                            <li class="tag"><a href="{{ site.url }}/collections/textures">textures</a></li>
                        </ul>
                      </li>
                      <li class="tags">
                          <a href="mailto:contact@jacobroy.quebec">Contact</a>
                      </li>
                  </ul>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" id="toggle-close">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
                </button>
              </div>
            </nav>
          </div>
        </div>
    </div>
    <!--{%- include header.html -%}-->

    

    <!--{%- include footer.html -%}-->

  </body>

</html>
