---
layout: default
---

{%- if page.title -%}
  <a href="{{site.url}}">
    <h3 class="page-heading">
      <svg width="0.8em" height="0.8em" viewBox="0 0 16 16" class="bi bi-chevron-left chevron" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg>
    {{ page.title }}
    </h3>
  </a>
{%- endif -%}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 col-md-10 col-sm-8">
  {{ content }}
</div>
