---
layout: grid
---

{% for post in site.posts %}
  {% if post.tags contains 'accueil' %}
    <div class="col">
      <a href="{{ post.url }}" >
        <img class="img-fluid image" src="{{ site.url }}/assets/photos/thumbnails/{{ post.image }}.jpg"/>
      </a>
    </div>
  {% endif %}
{% endfor %}
