---
layout: default
---
<div>
  {%- if page.title -%}
  <a href="{{site.url}}">
    <h3 class="page-heading">
      <svg width="0.8em" height="0.8em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg>
    {{ page.title }}
    </h3>
  </a>
{%- endif -%}
  <div>
    <img class="img-fluid image_big" src="{{ site.url }}/assets/photos/post/{{ page.image }}.jpg"/>
  </div>


  <div class="words">
    <h3>mots</h3>
      <p>{{ page.content }}</p>
  </div>

  <div class="related">
    <h3>collections</h3>
    <p>
    <div class="col-8">
      <div class="row row-cols-sm-3">
        {% for post in site.posts %}
          {% if post.url != page.url %}
            {% for livre in page.livres %}
              {% if post.livres contains livre %}
                <div class="col">
                  <a href="{{ post.url }}" >
                    <img class="img-fluid image" src="{{ site.url }}/assets/photos/thumbnails/{{ post.image }}.jpg"/>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </p>
  </div>
</div>