---
layout: default
---
<div>
  {%- if page.title -%}
  <a href="{{site.url}}">
    <h3 class="page-heading">
      <svg width="0.8em" height="0.8em" viewBox="0 0 16 16" class="bi bi-chevron-left chevron" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg>
    {{ page.title }}
    </h3>
  </a>
{%- endif -%}
  <div>
    <img class="img-fluid image_big" src="{{ site.url }}/assets/photos/post/{{ page.image }}.jpg"/>
  </div>


  <div class="words">
    <h3>mots</h3>
      <p>{{ page.content }}</p>
        <div class="row">
          {%- if page.pictorem_url -%}
            <div class="col-3">
              <p class="pictorem">
                En achetant une reproduction, vous soutenez un artiste et un imprimeur local.<br/>

                <a class=""href="https://www.pictorem.com/{{ page.pictorem_url }}">
                  <div class="btn btn-outline-success btn-sm pictorem_button">Commander maintenant! 🎉</div>
                <a/>
              </p>
            </div>
          {%- endif -%}
          {%- if page.gumroad_url -%}
          <div class="col-3">
            <p class="pictorem">
              Disponible en fond d'écran pour téléphone intelligent!<br/>
              <a class=""href="{{ page.gumroad_url }}">
                <div class="btn btn-outline-success btn-sm pictorem_button">Acheter tout de suite! 📲</div>
              <a/>
            </p>
          </div>
        {%- endif -%}
        {%- if page.eyeem_url -%}
        <div class="col-3">
          <p class="pictorem">
            Cette photographie peut être licencié pour différentes utilisations.<br/>
            <a class=""href="{{ page.eyeem_url }}">
              <div class="btn btn-outline-success btn-sm pictorem_button">Acheter une licence! 📙</div>
            <a/>
          </p>
        </div>
      {%- endif -%}
        </div>
  </div>

  <div class="related">
    <h3>collections</h3>
    <p>
    <div class="col-8">
      <div class="row row-cols-sm-3">
        {% for post in site.posts %}
          {% assign first = true %}
          {% if post.url != page.url %}
            {% for tag in page.tags %}
              {% if tag != 'accueil' %}
                {% if post.tags contains tag and first %}
                  {% assign first = false %}
                  <div class="col">
                    <a href="{{ post.url }}" >
                      <img class="img-fluid image" src="{{ site.url }}/assets/photos/thumbnails/{{ post.image }}.jpg"/>
                    </a>
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </p>
  </div>
</div>