---
layout: default
---
<article class="post">

    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
      <style>
        form {
            margin-bottom: 20px;
        }

        .btn-group label {
            margin-bottom: 10px;
        }

        #results {
            margin-top: 20px;
        }

        .camera {
            margin: 20px 0;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 8px;
            display: flex;
            align-items: center;
        }

        .camera img {
            max-width: 100px;
            margin-right: 20px;
            border-radius: 8px;
        }

        .camera a {
            text-decoration: none;
            color: #444409;
            font-weight: bold;
        }

        .camera a:hover {
            color: #61610d;
        }

        .btn-outline-color.active {
            background-color: #444409;
            color: #fcf9f1;
            border-color: #61610d;
        }

        .btn-outline-color {
            border-color: #444409;
        }

        .btn-outline-color:hover {
            color: #61610d;
            border-color: #61610d;
        }

        .btn.focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(252, 249, 241, 1);
        }

        /* Styled submit button */
        .btn-submit {
            padding: 10px 20px;
            background-color: #444409;
            color: #fcf9f1;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .btn-submit:hover {
            background-color: #61610d;
        }
    </style>
    </header>
  
    <div class="post-content">
        <div class="container">
            <h1 class="mt-5">Fujifilm X Camera Selector</h1>
            <form id="cameraSelectorForm">
                <!-- compactness vs power -->
                <div class="form-group">
                    <label>A camera should ...</label>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" onchange="calculateResults()">
                        <label class="btn btn-outline-color">
                            <input type="radio" name="compact" value="-1" autocomplete="off" checked> Easily fits in your pocket or bag for travel and everyday use
                        </label>
                        <label class="btn btn-outline-color">
                            <input type="radio" name="compact" value="0" autocomplete="off"> Balance portability with advanced features and capabilities
                        </label>
                        <label class="btn btn-outline-color">
                            <input type="radio" name="compact" value="1" autocomplete="off"> Be robust and powerful with advanced functionalities, even if it's larger and heavier
                        </label>
                    </div>
                </div>

                <!-- Intuitive Operation vs. Customization -->
                <div class="form-group">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" onchange="calculateResults()">
                        <label class="btn btn-outline-color">
                            <input type="radio" name="intuitive" value="-1" autocomplete="off"> Have straightforward controls and easy-to-use interfaces
                        </label>
                        <label class="btn btn-outline-color active">
                            <input type="radio" name="intuitive" value="0" autocomplete="off" checked> Provide a balance between simplicity and the ability to customize settings
                        </label>
                        <label class="btn btn-outline-color">
                            <input type="radio" name="intuitive" value="1" autocomplete="off"> Have extensive control over every aspect and offer a personalized experience
                        </label>
                    </div>
                </div>

                <!-- Versatility vs. Specialization -->
                <div class="form-group">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" onchange="calculateResults()">
                        <label class="btn btn-outline-color">
                            <input type="radio" name="versatility" value="-1" autocomplete="off"> Handle various photography styles and situations
                        </label>
                        <label class="btn btn-outline-color">
                            <input type="radio" name="versatility" value="0" autocomplete="off"> Strike a balance between versatility and having features tailored to specific needs
                        </label>
                        <label class="btn btn-outline-color active">
                            <input type="radio" name="versatility" value="1" autocomplete="off" checked> Be focused on a specific photography genre or professional use
                        </label>
                    </div>
                </div>

                <!-- Affordability vs. Premium Quality -->
                <div class="form-group">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" onchange="calculateResults()">
                        <label class="btn btn-outline-color">
                            <input type="radio" name="affordability" value="-1" autocomplete="off"> Be budget-friendly while compromising on performance
                        </label>
                        <label class="btn btn-outline-color active">
                            <input type="radio" name="affordability" value="0" autocomplete="off" checked> Offer a balance between quality and affordability
                        </label>
                        <label class="btn btn-outline-color">
                            <input type="radio" name="affordability" value="1" autocomplete="off"> Be premium-quality with top-notch features for an enhanced photography experience
                        </label>
                    </div>
                </div>
            </form>

            <div id="results" style="display:none;">
                <h2>Your Top 3 Fujifilm X Cameras:</h2>
                <ul id="cameraList"></ul>
            </div>
        </div>
    </div>

</article>
    <!-- Bootstrap JS and Popper.js scripts (required for Bootstrap components) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // List of cameras with their scores
        const cameras = [
            { name: "X100T", 
                compact: -1, intuitive: -1, versatility: -1, affordability: -1 ,
                description: "The thrill of control. The passion for shooting. (2014)",
                referralURL: "https://amzn.to/42xrBh2", 
                image: "https://m.media-amazon.com/images/I/81xGIIKvloL._AC_SL1500_.jpg" 
            },
            { name: "X100F", 
            compact: -1, intuitive: -1, versatility: -1, affordability: 0 ,
                description: "The achievement of new heights in Fujifilm's endless pursuit of perfection in photography. (2017)",
                referralURL: "https://amzn.to/3OvilEp", 
                image: "https://m.media-amazon.com/images/I/91vxJ5ar+yL._AC_SL1500_.jpg" 
            },
            { name: "X100V", 
            compact: -1, intuitive: -1, versatility: -1, affordability: 1 ,
                description: "Great Photography Every Day, Everywhere. (2020)",
                referralURL: "https://amzn.to/42o9v0Q", 
                image: "https://m.media-amazon.com/images/I/81icWeAkQKL._AC_SL1500_.jpg" 
            },
            { name: "X-Pro2",
             compact: 0, intuitive: 0, versatility: 1, affordability: 0 ,
                description: "Fulfill the wishes of every pro photographer. (2016)",
                referralURL: "https://amzn.to/42noCHP", 
                image: "https://m.media-amazon.com/images/I/81xvVVcfFvL._AC_SL1500_.jpg" 
            },
            { name: "X-Pro3",
             compact: 0, intuitive: 0, versatility: 1, affordability: 1 ,
                description: "The X-Pro3 is the definition of pure photography. (2019)",
                referralURL: "https://amzn.to/42nFuhJ", 
                image: "https://m.media-amazon.com/images/I/61t21q0AMOL._AC_SL1000_.jpg" 
            },
            { name: "X-E2s",
             compact: -1, intuitive: -1, versatility: 0, affordability: -1 ,
                description: "Enables you to capture your vision as true-to-life a way as possible. (2016)",
                referralURL: "https://amzn.to/3w0Xbrl", 
                image: "https://m.media-amazon.com/images/I/91uu9fMxA6L._AC_SL1500_.jpg" 
            },
            { name: "X-E3",
             compact: -1, intuitive: -1, versatility: 0, affordability: 0,
                description: "This camera was created in the pursuit of minimalism. (2017)",
                referralURL: "https://amzn.to/3OwDttH", 
                image: "https://m.media-amazon.com/images/I/91pPiiatxFL._AC_SL1500_.jpg" 
             },
            { name: "X-E4",
             compact: -1, intuitive: -1, versatility: 0, affordability: 1,
                description: "Your legacy deserves the best. (2021)",
                referralURL: "https://amzn.to/3OtsOA2", 
                image: "https://m.media-amazon.com/images/I/81E3yhWjSFL._AC_SL1500_.jpg" 
             },
            { name: "X-T20",
             compact: -1, intuitive: 0, versatility: 0, affordability: -1,
                description: "Compact and lightweight. (2017)",
                referralURL: "https://amzn.to/3HLq3q8", 
                image: "https://m.media-amazon.com/images/I/61g6U3x8ToL._AC_SL1000_.jpg" 
             },
            { name: "X-T30",
             compact: -1, intuitive: 0, versatility: 0, affordability: 0,
                description: "X-T3, but even smaller and lighter. (2019)",
                referralURL: "https://amzn.to/3w2eBUp", 
                image: "https://m.media-amazon.com/images/I/91hq2qVLGTL._AC_SL1500_.jpg" 
             },
            { name: "X-T30 II",
             compact: -1, intuitive: 0, versatility: 0, affordability: 1,
                description: "In Touch With Your Creativity. (2021)",
                referralURL: "https://amzn.to/3Otsyky", 
                image: "https://m.media-amazon.com/images/I/81LS1D3qxpL._AC_SL1500_.jpg" 
            },
            { name: "X-T2", 
            compact: 0, intuitive: 0, versatility: 0, affordability: -1,
                description: "It is the X series perfected. (2016)",
                referralURL: "https://amzn.to/42pPbMp", 
                image: "https://m.media-amazon.com/images/I/71R0Q+bHMvL._AC_SL1379_.jpg" 
             },
            { name: "X-T3",
             compact: 0, intuitive: 0, versatility: 0, affordability: 0 ,
                description: "It will become an inseparable partner in your artistic journey. (2018)",
                referralURL: "https://amzn.to/48ZyKJn", 
                image: "https://m.media-amazon.com/images/I/61NmgSgpMJL._AC_SL1000_.jpg" 
            },
            { name: "X-T4",
             compact: 0, intuitive: 0, versatility: 1, affordability: 0 ,
                description: "It’s time to extend your creative limits with this incredible imaging tool. (2020)",
                referralURL: "https://amzn.to/4broBqC", 
                image: "https://m.media-amazon.com/images/I/71BsdiTzEoL._AC_SL1500_.jpg" 
            },
            { name: "X-T5",
             compact: 0, intuitive: 1, versatility: 1, affordability: 1,
                description: "X-T5 provides powerful image making performance to ensure it’s ready for action, no matter how fast your subject is moving. (2022)",
                referralURL: "https://amzn.to/3Ow2VQd", 
                image: "https://m.media-amazon.com/images/I/71YhpUiYjrL._AC_SL1500_.jpg" 
            },
            { name: "X-H1",
             compact: 1, intuitive: 1, versatility: 0, affordability: -1 ,
                description: "The X-H1 is the highest performing camera in the x series lineup. (2018)",
                referralURL: "https://amzn.to/3unUgZ9", 
                image: "https://m.media-amazon.com/images/I/81oHOCZ06JL._AC_SL1500_.jpg" 
            },
            { name: "X-H2",
             compact: 1, intuitive: 1, versatility: 1, affordability: 0,
                description: "Live in detail with the world’s first 40-megapixel APS-C sensor. (2022)",
                referralURL: "https://amzn.to/3vYZGKt", 
                image: "https://m.media-amazon.com/images/I/71usJWQ08PL._AC_SL1500_.jpg" 
            },
            { name: "X-H2s",
             compact: 1, intuitive: 1, versatility: 1, affordability: 1,
                description: "X-H2S delivers powerful performance, suitable for any professional photographer or filmmaker. (2022)",
                referralURL: "https://amzn.to/3uuws5M", 
                image: "https://m.media-amazon.com/images/I/71z7B11WBlL._AC_SL1500_.jpg" 
             },
            { name: "X-S10", 
            compact: 0, intuitive: 1, versatility: 0, affordability: 0,
                description: "It’s all about how it feels. (2020)",
                referralURL: "https://amzn.to/3SGU9kG", 
                image: "https://m.media-amazon.com/images/I/81HWDUTDpvL._AC_SL1500_.jpg" 
             },
            { name: "X-S20",
             compact: 0, intuitive: 1, versatility: 1, affordability: 1 ,
                description: "X-S20 offers the perfect blend of power and portability to turn thoughts and ideas into reality. (2023)",
                referralURL: "https://amzn.to/3STPyMp", 
                image: "https://m.media-amazon.com/images/I/710Zg5cLjxL._AC_SL1500_.jpg" 
            },
            // Add more cameras with their respective scores
        ];

        function calculateResults() {
            const compactScore = parseInt(document.querySelector('input[name="compact"]:checked').value);
            const intuitiveScore = parseInt(document.querySelector('input[name="intuitive"]:checked').value);
            const versatilityScore = parseInt(document.querySelector('input[name="versatility"]:checked').value);
            const affordabilityScore = parseInt(document.querySelector('input[name="affordability"]:checked').value);


        // // Display totals with dichotomy names
        // document.getElementById("results").innerHTML = `
        //     ${compactScore > 0 ? 'Power ' : 'Compactness '}${compactScore}<br>
        //     ${intuitiveScore > 0 ? 'Customization ' : 'Intuitiveness '}${intuitiveScore}<br>
        //     ${versatilityScore > 0 ? 'Specialization ' : 'Versatility '}${versatilityScore}<br>
        //     ${affordabilityScore > 0 ? 'Premium Quality ' : 'Affordability '}${affordabilityScore}
        // `;

        // document.getElementById("results").style = 'display:block';
        // Calculate the closest match
        const userScores = { compact: compactScore, intuitive: intuitiveScore, versatility: versatilityScore, affordability: affordabilityScore };
        const closestCameras = findClosestCameras(userScores, cameras);

        // Display the closest cameras
        const cameraListContainer = document.getElementById("cameraList");
            cameraListContainer.innerHTML = ""; // Clear previous results

            closestCameras.forEach(camera => {
                const cameraElement = createCameraElement(camera);
                cameraListContainer.appendChild(cameraElement);
            });

            // Display the results div
            document.getElementById("results").style.display = "block";
        
        }
        function createCameraElement(camera) {
            const cameraElement = document.createElement("div");
            cameraElement.className = "camera";

            const imageElement = document.createElement("img");
            imageElement.src = camera.image;
            imageElement.alt = camera.name + " Image";
            cameraElement.appendChild(imageElement);

            const detailsElement = document.createElement("div");

            const nameElement = document.createElement("h3");
            nameElement.textContent = camera.name;
            detailsElement.appendChild(nameElement);

            const descElement = document.createElement("span");
            descElement.textContent = camera.description;
            detailsElement.appendChild(descElement);

            const referralLink = document.createElement("a");
            referralLink.href = camera.referralURL;
            referralLink.textContent = " -> View More";
            detailsElement.appendChild(referralLink);

            cameraElement.appendChild(detailsElement);

            return cameraElement;
        }
        // Function to find the closest matches
        function findClosestCameras(userScores, cameras) {
            // Use an array to store the closest cameras
            let closestCameras = [];

            cameras.forEach(camera => {
                const distance = calculateDistance(userScores, camera);

                closestCameras.push({ ...camera, distance });

                // Sort the array by distance in ascending order
                closestCameras.sort((a, b) => a.distance - b.distance);

                // Keep only the top 3 closest cameras
                closestCameras = closestCameras.slice(0, 3);
            });

            return closestCameras;
        }

        // Function to calculate the distance between two sets of scores
        function calculateDistance(scores1, scores2) {
            return Math.sqrt(
                Math.pow(scores1.compact - scores2.compact, 2) +
                Math.pow(scores1.intuitive - scores2.intuitive, 2) +
                Math.pow(scores1.versatility - scores2.versatility, 2) +
                Math.pow(scores1.affordability - scores2.affordability, 2)
            );
        }
        // window on load
        document.onload = calculateResults()
        
    </script>
</body>
</html>
